<div class="row">
  <div class="column">

    <h1 mat-dialog-title>
      {{data.icr.id}} - {{data.icr.name}}
    </h1>
    <h2>{{data.icr.value}}</h2>
  </div>
  <div class="column" style="text-align: right;">
    <mat-chip-list>
      <mat-chip *ngIf="data.icr.status.length>0" color="accent" selected matTooltip="Status">{{data.icr.status}}
      </mat-chip>
      <mat-chip *ngIf="data.icr.usage.length>0" color="primary" selected matTooltip="Usage">{{data.icr.usage}}
      </mat-chip>
      <mat-chip *ngIf="data.icr.duration.length>0" matTooltip="Duration">{{data.icr.duration}}</mat-chip>
    </mat-chip-list>
  </div>
</div>
<div mat-dialog-content class="container">
  <div class="row">
    <div class="column">
      <label><b>DATE CREATED:</b></label> {{data.icr.dateCreated}}
    </div>
    <div class="column">
      <label><b>CUSTODIAL PACKAGE:</b></label> {{data.icr.custodialPackage}}
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label><b>CUSTODIAL ISC:</b></label> {{data.icr.custodialIsc}}
    </div>
    <div class="column">
      <label><b>USAGE:</b></label> {{data.icr.usage}}
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label><b>TYPE:</b></label> {{data.icr.type}}
    </div>
    <div class="column">
      <label><b>DBIC APPROVAL STATUS:</b></label> {{data.icr.dbicStatus}}
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label><b>STATUS:</b></label> {{data.icr.status}}
    </div>
    <div class="column">
      <label><b>DURATION:</b></label> {{data.icr.duration}}
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label><b>DATE ACTIVATED:</b></label> {{data.icr.dateActivated}}
    </div>
  </div>
  <app-icr-tab-group [icr]="data.icr" [expanded]="true"></app-icr-tab-group>
</div>

<div mat-dialog-actions style="text-align: right;">
  <!--button *ngIf="data.icr.validated" mat-button (click)="onValidate(false)">Invalidate</button>
  <button *ngIf="!data.icr.validated" mat-button (click)="onValidate(true)">Validate</button>
  <button mat-button (click)="updateFields()">Update</button-->
  <button mat-raised-button (click)="onNoClick()">Close</button>
</div>
