<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="resetQuery()"><mat-icon>apps</mat-icon>
    ICR Master</button>
    <span class="menu-spacer"></span>
    <a mat-button (click)="openFileUpload()"><mat-icon>cloud_upload</mat-icon> Upload Raw ICR </a>
  </mat-toolbar-row>
</mat-toolbar>

<input type="file" id="upload_icr_input" style="display:none" (change)="handleFileInput($event.target.files)">

<div class="main-search-form">
  <form style="width: 100%;">
    <mat-form-field id="dropdown-field-sort">
      <mat-select [(ngModel)]="displaySort" [ngModelOptions]="{standalone: true}" (selectionChange)="sortChange()">
        <mat-option *ngFor="let sort of sortBy" [value]="sort.value">{{sort.external}}</mat-option>
      </mat-select>
      <mat-label>Sort By</mat-label>
    </mat-form-field>

    <mat-form-field id="dropdown-field">
      <mat-select [(ngModel)]="displayField" [ngModelOptions]="{standalone: true}" (selectionChange)="resetQuery()">
        <mat-option *ngFor="let field of fieldList" [value]="field.value">{{field.external}}</mat-option>
      </mat-select>
      <mat-label>ICR Field</mat-label>
    </mat-form-field>

    <mat-form-field id="query-string">
        <mat-label>Filter by...</mat-label>
        <input matInput [(ngModel)]="displayQuery" [ngModelOptions]="{standalone: true}" (keyup)="applyFilter($event.target.value)">
        <button type="button" mat-button *ngIf="displayQuery" matSuffix mat-icon-button aria-label="Clear" (click)="resetQuery()">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <!--mat-form-field id="dropdown-sort">
      <mat-select required [(ngModel)]="displaySort" [ngModelOptions]="{standalone: true}" (selectionChange)="sortIcr($event)">
        <mat-option *ngFor="let sort of sortBy" [value]="sort">{{sort}}</mat-option>
      </mat-select>
      <mat-label>Sort by</mat-label>
    </mat-form-field-->

    <mat-radio-group name="displayFilter" [(ngModel)]="displayFilter" [ngModelOptions]="{standalone: true}" id="display-filter" aria-label="Select an option">
      <mat-radio-button class="radio-option" value="B" (change)="filterChange($event.value)" checked>All&nbsp;</mat-radio-button>
      <mat-radio-button class="radio-option" value="G" (change)="filterChange($event.value)">Global&nbsp;</mat-radio-button>
      <mat-radio-button class="radio-option" value="R" (change)="filterChange($event.value)">Component&nbsp;</mat-radio-button>
      <mat-radio-button class="radio-option" value="RPC" (change)="filterChange($event.value)">RPC&nbsp;</mat-radio-button>
    </mat-radio-group>

    <mat-checkbox name="display-checkBox" style="margin-left: 5px;" (change)="checkBoxChange()" [(ngModel)]="hideInvalid">No EXPIRED/WITHDRAWN</mat-checkbox>
  </form>
</div>

<mat-spinner class="loading-indicator" *ngIf="loading"></mat-spinner>

<mat-grid-list [cols]="breakpoint" rowHeight="1:1" (window:resize)="onResize($event)">
  <ng-container *ngFor="let icr of obs | async">
  <mat-grid-tile>
    <mat-card class="icr-card" style="margin-top:10px;">
      <mat-card-header>
        <mat-card-title>
          {{icr.id}}&nbsp;-&nbsp;{{icr.name}}
          <span *ngIf="icr.file || (icr.globalReferences && icr.globalReferences.length>0)">
            &nbsp;(File #{{icr.file}})
          </span>

        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip *ngIf="icr.status.length>0" color="accent" selected matTooltip="Status">{{icr.status}}</mat-chip>
            <mat-chip *ngIf="icr.usage.length>0" color="primary" selected matTooltip="Usage">{{icr.usage}}</mat-chip>
            <mat-chip *ngIf="icr.duration.length>0" matTooltip="Duration">{{icr.duration}}</mat-chip>
            <mat-chip *ngIf="icr.dbicStatus.length>0" matTooltip="DBIC approval status">{{icr.dbicStatus | titlecase}}</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        
        <div class="icr-components">
          <app-icr-tab-group [icr]="icr" [expanded]="false"></app-icr-tab-group>
        </div>
      </mat-card-content>
      <mat-card-actions style="text-align: right;">
        <button mat-raised-button (click)="onEditDialog(icr)">View</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  </ng-container>
</mat-grid-list>

<mat-paginator *ngIf="!loading" #paginator [length]="pageLength" class="mat-paginator-sticky"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               [pageIndex]="pageIndex">
</mat-paginator>
