<div class="main-search-form">
  <form style="width: 100%;">
    <mat-form-field id="dropdown-field">
      <mat-select required [(ngModel)]="displayField" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let field of fieldList" [value]="field.value">{{field.external}}</mat-option>
      </mat-select>
      <mat-label>ICR Field</mat-label>
    </mat-form-field>

    <mat-form-field id="query-string">
        <mat-label>Filter by...</mat-label>
        <input matInput [(ngModel)]="displayQuery" [ngModelOptions]="{standalone: true}" (change)="queryChange($event)">
        <button type="button" mat-button *ngIf="displayQuery" matSuffix mat-icon-button aria-label="Clear" (click)="resetQuery()">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-radio-group name="displayFilter" [(ngModel)]="displayFilter" [ngModelOptions]="{standalone: true}" id="display-filter" aria-label="Select an option">
      <mat-radio-button class="radio-option" value="B" checked (change)="filterChange($event)">All&nbsp;</mat-radio-button>
      <mat-radio-button class="radio-option" value="G" (change)="filterChange($event)">Global&nbsp;</mat-radio-button>
      <mat-radio-button class="radio-option" value="R" (change)="filterChange($event)">Routine&nbsp;</mat-radio-button>
    </mat-radio-group>
  </form>
</div>

<mat-paginator #paginator [length]="pageLength"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = onPageChanged($event)">
</mat-paginator>

<mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let icr of pageIcrs" >
    <mat-card class="icr-card" style="margin-top:10px;">
      <mat-card-header>
        <mat-card-title>
          {{icr.id}}&nbsp;-&nbsp;{{icr.value}}
          <span *ngIf="icr.type==='G'">
            &nbsp;(File #{{icr.file}})
          </span>
        </mat-card-title>
        <mat-card-subtitle>
        {{icr.name}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="icr-description">
          <b>Description</b>
          <p *ngFor="let description of icr.description">
            {{description}}
          </p>
        </div>
        <div class="icr-components">
          <b *ngIf="icr.type==='G'">Fields</b>
          <b *ngIf="icr.type==='R'">Tags</b>
          <div *ngFor="let component of icr.components">
            {{component}}
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions style="text-align: right;">
        <button mat-raised-button>View/Edit</button>
        <button mat-raised-button>Validate</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
